.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-items: center;
    margin: 2rem 0;
    align-items: center;
}
@media only screen and (min-width: 1900px) {
    .grid-container{
        grid-template-columns: repeat(4, 1fr);
    }
}
.newPage{
    transition: all .4s;
    transform: translateY(0);
}
.newPage:hover{
        background-color: grey;
        color: white;
}
.newPage:active{
    transform: translateY(5px);
}